CPP_HMM/CPP_HMM.sdf
CPP_HMM/CPP_HMM.v12.suo
*.filters
CPP_HMM/CPP_HMM/CPP_HMM.vcxproj.user
*.log
*.tlog
CPP_HMM/CPP_HMM/Dbg_genseq/FileHelpers.obj
*.obj
CPP_HMM/CPP_HMM/Dbg_genseq/vc120.idb
*.pdb
CPP_HMM/CPP_HMM/Debug/vc120.idb
*.idb
*.exe
*.ilk
CPP_HMM/Debug/phone-init1.emit
CPP_HMM/Debug/phone-init2.emit
CPP_HMM/Debug/phone-init1.trans
CPP_HMM/Debug/phone.input
CPP_HMM/Debug/phone.trans
CPP_HMM/Debug/phone-init3.trans
CPP_HMM/Debug/phone-init3.emit
CPP_HMM/Debug/phone-init2.trans
CPP_HMM/Debug/phone.emit
CPP_HMM/Debug/phone.train
CPP_HMM/CPP_HMM.opensdf
CPP_HMM/CPP_HMM_CUDA/Debug/forward.cu.deps
CPP_HMM/CPP_HMM_CUDA/Debug/forward.cu.deps
CPP_HMM/CPP_HMM_CUDA/Release/forward.cu.cache
CPP_HMM/CPP_HMM_CUDA/Release/forward.cu.deps
CPP_HMM/CPP_HMM_CUDA/Release/kernel.cu.cache
CPP_HMM/CPP_HMM_CUDA/Release/kernel.cu.deps
CPP_HMM/Release/cudart32_75.dll
CPP_HMM/Release/cudart64_75.dll
CPP_HMM/CPP_HMM_CUDA/Debug/forward.cu.deps
CPP_HMM/CPP_HMM_CUDA/Debug/forward.cu.deps
CPP_HMM/CPP_HMM_CUDA/Debug/simpleIndexing.cu.cache
CPP_HMM/CPP_HMM_CUDA/Debug/simpleIndexing.cu.deps
CPP_HMM/CPP_HMM_CUDA/Debug/MemoryManagement.cu.cache
CPP_HMM/CPP_HMM_CUDA/Debug/MemoryManagement.cu.deps
CPP_HMM/.vs/CPP_HMM8.0/v14/.suo
CPP_HMM/chmm/chmm.vcxproj.user
CPP_HMM/chmm8.0/chmm8.0.vcxproj.user
CPP_HMM/CPP__HMM_CUDA8.0/Debug/forward.cu.cache
CPP_HMM/CPP__HMM_CUDA8.0/Debug/kernel.cu.cache
CPP_HMM/CPP__HMM_CUDA8.0/Debug/kernel.cu.deps
CPP_HMM/CPP__HMM_CUDA8.0/Debug/MemoryManagement.cu.cache
CPP_HMM/CPP__HMM_CUDA8.0/Debug/simpleIndexing.cu.cache
CPP_HMM/CPP__HMM_CUDA8.0/Debug/src/forward.cu.deps
CPP_HMM/CPP__HMM_CUDA8.0/Debug/src/kernel.cu.deps
CPP_HMM/CPP__HMM_CUDA8.0/Debug/src/MemoryManagement.cu.deps
CPP_HMM/CPP__HMM_CUDA8.0/Debug/src/simpleIndexing.cu.deps
CPP_HMM/CPP__HMM_CUDA8.0/Debug/src/VectorMath.cu.deps
CPP_HMM/CPP__HMM_CUDA8.0/Debug/VectorMath.cu.cache
CPP_HMM/CPP_HMM_CUDA/Debug/forward.cu.deps
CPP_HMM/CPP_HMM_CUDA/Debug/VectorMath.cu.cache
CPP_HMM/CPP_HMM_CUDA/Debug/VectorMath.cu.deps
CPP_HMM/CPP_HMM_CUDA/Debug/forward.cu.deps
CPP_HMM/Debug/cudart32_80.dll
CPP_HMM/Debug/cudart64_80.dll
