CPP_HMM/CPP_HMM.sdf
CPP_HMM/CPP_HMM.v12.suo
*.filters
CPP_HMM/CPP_HMM/CPP_HMM.vcxproj.user
*.log
*.tlog
CPP_HMM/CPP_HMM/Dbg_genseq/FileHelpers.obj
*.obj
CPP_HMM/CPP_HMM/Dbg_genseq/vc120.idb
*.pdb
CPP_HMM/CPP_HMM/Debug/vc120.idb
*.idb
*.exe
*.ilk
CPP_HMM/Debug/phone-init1.emit
CPP_HMM/Debug/phone-init2.emit
CPP_HMM/Debug/phone-init1.trans
CPP_HMM/Debug/phone.input
CPP_HMM/Debug/phone.trans
CPP_HMM/Debug/phone-init3.trans
CPP_HMM/Debug/phone-init3.emit
CPP_HMM/Debug/phone-init2.trans
CPP_HMM/Debug/phone.emit
CPP_HMM/Debug/phone.train
CPP_HMM/CPP_HMM.opensdf
CPP_HMM/CPP_HMM_CUDA/Debug/forward.cu.deps
CPP_HMM/CPP_HMM_CUDA/Debug/forward.cu.deps
CPP_HMM/CPP_HMM_CUDA/Release/forward.cu.cache
CPP_HMM/CPP_HMM_CUDA/Release/forward.cu.deps
CPP_HMM/CPP_HMM_CUDA/Release/kernel.cu.cache
CPP_HMM/CPP_HMM_CUDA/Release/kernel.cu.deps
CPP_HMM/Release/cudart32_75.dll
CPP_HMM/Release/cudart64_75.dll
CPP_HMM/CPP_HMM_CUDA/Debug/forward.cu.deps
