CPP_HMM/CPP_HMM.sdf
CPP_HMM/CPP_HMM.v12.suo
*.filters
CPP_HMM/CPP_HMM/CPP_HMM.vcxproj.user
*.log
*.tlog
CPP_HMM/CPP_HMM/Dbg_genseq/FileHelpers.obj
*.obj
CPP_HMM/CPP_HMM/Dbg_genseq/vc120.idb
*.pdb
CPP_HMM/CPP_HMM/Debug/vc120.idb
*.idb
*.exe
*.ilk
CPP_HMM/Debug/phone-init1.emit
CPP_HMM/Debug/phone-init2.emit
CPP_HMM/Debug/phone-init1.trans
CPP_HMM/Debug/phone.input
CPP_HMM/Debug/phone.trans
CPP_HMM/Debug/phone-init3.trans
CPP_HMM/Debug/phone-init3.emit
CPP_HMM/Debug/phone-init2.trans
CPP_HMM/Debug/phone.emit
CPP_HMM/Debug/phone.train
CPP_HMM/CPP_HMM.opensdf
CPP_HMM/CPP_HMM_CUDA/Debug/forward.cu.deps
CPP_HMM/CPP_HMM_CUDA/Debug/forward.cu.deps
CPP_HMM/CPP_HMM_CUDA/Release/forward.cu.cache
CPP_HMM/CPP_HMM_CUDA/Release/forward.cu.deps
CPP_HMM/CPP_HMM_CUDA/Release/kernel.cu.cache
CPP_HMM/CPP_HMM_CUDA/Release/kernel.cu.deps
CPP_HMM/Release/cudart32_75.dll
CPP_HMM/Release/cudart64_75.dll
CPP_HMM/CPP_HMM_CUDA/Debug/forward.cu.deps
CPP_HMM/CPP_HMM_CUDA/Debug/forward.cu.deps
CPP_HMM/CPP_HMM_CUDA/Debug/simpleIndexing.cu.cache
CPP_HMM/CPP_HMM_CUDA/Debug/simpleIndexing.cu.deps
CPP_HMM/CPP_HMM_CUDA/Debug/MemoryManagement.cu.cache
CPP_HMM/CPP_HMM_CUDA/Debug/MemoryManagement.cu.deps
CPP_HMM/.vs/CPP_HMM8.0/v14/.suo
CPP_HMM/chmm/chmm.vcxproj.user
CPP_HMM/chmm8.0/chmm8.0.vcxproj.user
CPP_HMM/CPP__HMM_CUDA8.0/Debug/forward.cu.cache
CPP_HMM/CPP__HMM_CUDA8.0/Debug/kernel.cu.cache
CPP_HMM/CPP__HMM_CUDA8.0/Debug/kernel.cu.deps
CPP_HMM/CPP__HMM_CUDA8.0/Debug/MemoryManagement.cu.cache
CPP_HMM/CPP__HMM_CUDA8.0/Debug/simpleIndexing.cu.cache
CPP_HMM/CPP__HMM_CUDA8.0/Debug/src/forward.cu.deps
CPP_HMM/CPP__HMM_CUDA8.0/Debug/src/kernel.cu.deps
CPP_HMM/CPP__HMM_CUDA8.0/Debug/src/MemoryManagement.cu.deps
CPP_HMM/CPP__HMM_CUDA8.0/Debug/src/simpleIndexing.cu.deps
CPP_HMM/CPP__HMM_CUDA8.0/Debug/src/VectorMath.cu.deps
CPP_HMM/CPP__HMM_CUDA8.0/Debug/VectorMath.cu.cache
CPP_HMM/CPP_HMM_CUDA/Debug/forward.cu.deps
CPP_HMM/CPP_HMM_CUDA/Debug/VectorMath.cu.cache
CPP_HMM/CPP_HMM_CUDA/Debug/VectorMath.cu.deps
CPP_HMM/CPP_HMM_CUDA/Debug/forward.cu.deps
CPP_HMM/Debug/cudart32_80.dll
CPP_HMM/Debug/cudart64_80.dll
CPP_HMM/CPP__HMM_CUDA8.0/Release/forward.cu.cache
CPP_HMM/CPP__HMM_CUDA8.0/Release/kernel.cu.cache
CPP_HMM/CPP__HMM_CUDA8.0/Release/kernel.cu.deps
CPP_HMM/CPP__HMM_CUDA8.0/Release/MemoryManagement.cu.cache
CPP_HMM/CPP__HMM_CUDA8.0/Release/simpleIndexing.cu.cache
CPP_HMM/CPP__HMM_CUDA8.0/Release/src/forward.cu.deps
CPP_HMM/CPP__HMM_CUDA8.0/Release/src/kernel.cu.deps
CPP_HMM/CPP__HMM_CUDA8.0/Release/src/MemoryManagement.cu.deps
CPP_HMM/CPP__HMM_CUDA8.0/Release/src/simpleIndexing.cu.deps
CPP_HMM/CPP__HMM_CUDA8.0/Release/src/VectorMath.cu.deps
CPP_HMM/CPP__HMM_CUDA8.0/Release/VectorMath.cu.cache
CPP_HMM/Release/CPP__HMM_CUDA8.0.iobj
CPP_HMM/Release/CPP__HMM_CUDA8.0.ipdb
CPP_HMM/Release/cudart32_80.dll
CPP_HMM/Release/cudart64_80.dll
CPP_HMM/CPP_HMM_CUDA/x64/Debug/forward.cu.cache
CPP_HMM/CPP_HMM_CUDA/x64/Debug/forward.cu.deps
CPP_HMM/CPP_HMM_CUDA/x64/Debug/kernel.cu.cache
CPP_HMM/CPP_HMM_CUDA/x64/Debug/kernel.cu.deps
CPP_HMM/CPP_HMM_CUDA/x64/Debug/MemoryManagement.cu.cache
CPP_HMM/CPP_HMM_CUDA/x64/Debug/MemoryManagement.cu.deps
CPP_HMM/CPP_HMM_CUDA/x64/Debug/simpleIndexing.cu.cache
CPP_HMM/CPP_HMM_CUDA/x64/Debug/simpleIndexing.cu.deps
CPP_HMM/CPP_HMM_CUDA/x64/Debug/VectorMath.cu.cache
CPP_HMM/CPP_HMM_CUDA/x64/Debug/VectorMath.cu.deps
CPP_HMM/CPP_HMM_VS2015/Debug/forward.cu.cache
CPP_HMM/CPP_HMM_VS2015/Debug/MemoryManagement.cu.cache
CPP_HMM/CPP_HMM_VS2015/Debug/simpleIndexing.cu.cache
CPP_HMM/CPP_HMM_VS2015/Debug/src/forward.cu.deps
CPP_HMM/CPP_HMM_VS2015/Debug/src/MemoryManagement.cu.deps
CPP_HMM/CPP_HMM_VS2015/Debug/src/simpleIndexing.cu.deps
CPP_HMM/CPP_HMM_VS2015/Debug/src/VectorMath.cu.deps
CPP_HMM/CPP_HMM_VS2015/Debug/VectorMath.cu.cache
CPP_HMM/x64/Debug/cudart32_75.dll
CPP_HMM/x64/Debug/cudart64_75.dll
CPP_HMM/CPP_HMM_CUDA/x64/Release/forward.cu.cache
CPP_HMM/CPP_HMM_CUDA/x64/Release/forward.cu.deps
CPP_HMM/CPP_HMM_CUDA/x64/Release/kernel.cu.cache
CPP_HMM/CPP_HMM_CUDA/x64/Release/kernel.cu.deps
CPP_HMM/CPP_HMM_CUDA/x64/Release/MemoryManagement.cu.cache
CPP_HMM/CPP_HMM_CUDA/x64/Release/MemoryManagement.cu.deps
CPP_HMM/CPP_HMM_CUDA/x64/Release/simpleIndexing.cu.cache
CPP_HMM/CPP_HMM_CUDA/x64/Release/simpleIndexing.cu.deps
CPP_HMM/CPP_HMM_CUDA/x64/Release/VectorMath.cu.cache
CPP_HMM/CPP_HMM_CUDA/x64/Release/VectorMath.cu.deps
CPP_HMM/x64/Release/cudart32_75.dll
CPP_HMM/x64/Release/cudart64_75.dll
CPP_HMM/CPP_HMM_CUDA/x64/Debug/cublas64_75.dll
CPP_HMM/CPP_HMM_CUDA/x64/Debug/main.cu.cache
CPP_HMM/CPP_HMM_CUDA/x64/Debug/main.cu.deps
CPP_HMM/CPP_HMM_CUDA/x64/Debug/matrixTest.cu.cache
CPP_HMM/CPP_HMM_CUDA/x64/Debug/matrixTest.cu.deps
CPP_HMM/CPP_HMM_CUDA/x64/Debug/Trellis.cu.cache
CPP_HMM/CPP_HMM_CUDA/x64/Debug/Trellis.cu.deps
CPP_HMM/CPP_HMM_CUDA/x64/Debug/viterbi.cu.cache
CPP_HMM/CPP_HMM_CUDA/x64/Debug/viterbi.cu.deps
CPP_HMM/CPP_HMM_CUDA/x64/Release/cublas64_75.dll
CPP_HMM/CPP_HMM_CUDA/x64/Release/main.cu.cache
CPP_HMM/CPP_HMM_CUDA/x64/Release/main.cu.deps
CPP_HMM/CPP_HMM_CUDA/x64/Release/matrixTest.cu.cache
CPP_HMM/CPP_HMM_CUDA/x64/Release/matrixTest.cu.deps
CPP_HMM/CPP_HMM_CUDA/x64/Release/Trellis.cu.cache
CPP_HMM/CPP_HMM_CUDA/x64/Release/Trellis.cu.deps
CPP_HMM/cublas64_75.dll
CPP_HMM/Debug/cublas64_75.dll
CPP_HMM/x64/Debug/cublas64_75.dll
CPP_HMM/x64/Debug/cufft64_75.dll
CPP_HMM/x64/Debug/cufftw64_75.dll
CPP_HMM/x64/Debug/cuinj32_75.dll
CPP_HMM/x64/Debug/cuinj64_75.dll
CPP_HMM/x64/Debug/curand64_75.dll
CPP_HMM/x64/Debug/cusolver64_75.dll
CPP_HMM/x64/Debug/cusparse64_75.dll
CPP_HMM/x64/Debug/nppc64_75.dll
CPP_HMM/x64/Debug/nppi64_75.dll
CPP_HMM/x64/Debug/npps64_75.dll
CPP_HMM/x64/Debug/nvblas64_75.dll
CPP_HMM/x64/Debug/nvrtc64_75.dll
CPP_HMM/x64/Debug/nvrtc-builtins64_75.dll
CPP_HMM/x64/Release/cublas64_75.dll
CPP_HMM/x64/Release/cufft64_75.dll
CPP_HMM/x64/Release/cufftw64_75.dll
CPP_HMM/x64/Release/cuinj32_75.dll
CPP_HMM/x64/Release/cuinj64_75.dll
CPP_HMM/x64/Release/curand64_75.dll
CPP_HMM/x64/Release/cusolver64_75.dll
CPP_HMM/x64/Release/cusparse64_75.dll
CPP_HMM/x64/Release/nppc64_75.dll
CPP_HMM/x64/Release/nppi64_75.dll
CPP_HMM/x64/Release/npps64_75.dll
CPP_HMM/x64/Release/nvblas64_75.dll
CPP_HMM/x64/Release/nvrtc64_75.dll
CPP_HMM/x64/Release/nvrtc-builtins64_75.dll
CPP_HMM/CPP_HMM/CPP_HMM.vcxproj.user.bak
CPP_HMM/CPP_HMM_CUDA/CPP_HMM_CUDA.vcxproj.user.bak
CPP_HMM/CPP_HMM_CUDA/Debug/BF.cu.cache
CPP_HMM/CPP_HMM_CUDA/Debug/BF.cu.deps
CPP_HMM/CPP_HMM_CUDA/Debug/forward.cu.deps
CPP_HMM/CPP_HMM_CUDA/Debug/main.cu.cache
CPP_HMM/CPP_HMM_CUDA/Debug/main.cu.deps
CPP_HMM/CPP_HMM_CUDA/Debug/matrixTest.cu.cache
CPP_HMM/CPP_HMM_CUDA/Debug/matrixTest.cu.deps
CPP_HMM/CPP_HMM_CUDA/Debug/Trellis.cu.cache
CPP_HMM/CPP_HMM_CUDA/Debug/Trellis.cu.deps
CPP_HMM/CPP_HMM_CUDA/Debug/viterbi.cu.cache
CPP_HMM/CPP_HMM_CUDA/Debug/viterbi.cu.deps
CPP_HMM/CPP_HMM_CUDA/Debug/forward.cu.deps
CPP_HMM/CPP_HMM_CUDA/Debug/forward.cu.deps
CPP_HMM/CPP_HMM_CUDA/x64/Debug/BF.cu.cache
CPP_HMM/CPP_HMM_CUDA/x64/Debug/BF.cu.deps
CPP_HMM/CPP_HMM_CUDA/x64/Release/BF.cu.cache
CPP_HMM/CPP_HMM_CUDA/x64/Release/BF.cu.deps
CPP_HMM/CPP_HMM_CUDA/x64/Release/viterbi.cu.cache
CPP_HMM/CPP_HMM_CUDA/x64/Release/viterbi.cu.deps
